html {
    font-family: "Avenir Next", Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    max-width: 500px;
    margin: 0 auto;
}

input {
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
}

input:focus {
    outline: none;
    background-color: lightblue;
}

li {
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
}

.foot {
    position: absolute;
    border: 2px solid black;
    width: 500px;
    background-image: linear-gradient(to bottom right, gray, white);
}

.remove {
    padding-bottom: 5px;
}